kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: ride-cluster
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 30080
    hostPort: 8080
    protocol: TCP
  - containerPort: 30085
    hostPort: 8085
    protocol: TCP
- role: worker
